In [145]:
import pandas as pd

In [ ]:
pip install pandas

In [140]:
s=[4,8,15,16,23,42]

In [143]:
df=pd.Series(s)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

In [144]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [58]:
k=[1,3,4,5,67,8,2,9,77,98]

In [34]:
type(k)

list

In [64]:
L=pd.Series(k)
index=None

In [65]:
print(L)

0     1
1     3
2     4
3     5
4    67
5     8
6     2
7     9
8    77
9    98
dtype: int64

In [63]:
w={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [68]:
u=pd.DataFrame(w)

In [69]:
print(u)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [45]:
DataFrame means multiple column or multiple records but series is 1-D labeled array capable of holding any data type series is equivalent to list only difference is list do not have indexing of data but series have.

In [ ]:
Common function manipulating data in pandas dataframe are
let Dataframe name r 
r.head() ,r.tail() , r.columns etc

In [46]:
d.head(2)

0    4
1    8
Name: series, dtype: int64

In [67]:
d.tail(2)

4    23
5    42
Name: series, dtype: int64

In [ ]:
Only series is immutable, panel and dataframe are mutable.

In [132]:
a = pd.Series(["C++", "JAVA",
			"PYTHON", "DBMS",
			"C#"], name = "subjects")

# create a series
b = pd.Series(["30", "60",
			"90", "56",
			"50"], name = "marks")

# merge both series
df = pd.merge(a, b, right_index = True,
			left_index = True)
# show the dataframe
df

  subjects marks
0      C++    30
1     JAVA    60
2   PYTHON    90
3     DBMS    56
4       C#    50