QUESTION 1

In [145]:
import pandas as pd

In [146]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [147]:
s=[4,8,15,16,23,42]

In [148]:
df=pd.Series(s)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [149]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

QUESTION 2

In [150]:
k=[1,3,4,5,67,8,2,9,77,98]

In [151]:
type(k)

list

In [152]:
L=pd.Series(k)
index=None

In [153]:
print(L)

0     1
1     3
2     4
3     5
4    67
5     8
6     2
7     9
8    77
9    98
dtype: int64

QUESTION 3

In [154]:
w={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [163]:
u=pd.DataFrame(w)

In [162]:
print(u)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

QUESTION 4

In [45]:
DataFrame means multiple column or multiple records but series is 1-D labeled array capable of holding any data type series is equivalent to list only difference is list do not have indexing of data but series have.

In [ ]:
Common function manipulating data in pandas dataframe are
let Dataframe name r 
r.head() ,r.tail() , r.columns etc

In [46]:
d.head(2)

0    4
1    8
Name: series, dtype: int64

In [67]:
d.tail(2)

4    23
5    42
Name: series, dtype: int64

In [ ]:
Only series is immutable, panel and dataframe are mutable.

In [157]:
a = pd.Series(["C++", "JAVA",
			"PYTHON", "DBMS",
			"C#"], name = "subjects")
b = pd.Series(["30", "60",
			"90", "56",
			"50"], name = "marks")
df = pd.merge(a, b, right_index = True,
			left_index = True)
df

  subjects marks
0      C++    30
1     JAVA    60
2   PYTHON    90
3     DBMS    56
4       C#    50